<!DOCTYPE html>
<html lang="en" ng-app="cargoApp">
  <head>
    
    <title>Carografías</title>
    
    <link rel='stylesheet' href='/stylesheets/style.css' />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

 	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.11/angular.min.js"></script>

  </head>
  <body ng-controller="MainCtrl">

  <h1>Cargografías Creator</h1>

<div class="form-group">
    <label for="cargoName">New carografías name:</label>
	<div class="input-group">
		<div class="input-group-addon">cargografias.org/</div>
		<input id="cargoName" type="text" ng-model="cargoName" class="form-control" placeholder="">
    </div>
  </div>
  <button type="submit" ng-click="sendCreate()" class="btn btn-primary">Create custom cargografías</button>

  	<script type="text/javascript" src="/javascripts/main.js"></script>
  </body>  
</html>
